.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: white;
}

.bc {
    display: flex;
    justify-content: center;
    width: 25vw;
    margin: 2em;
}

.bc2 {
    display: flex;
    justify-content: center;
    width: 25vw;
}

button {
    margin-right: 0.5em;
}